# which API to use (cfr. ./clients/.openai_client_config.yaml), amongst
    # - sharedservice
    # - semic
API = "sharedservice"
SERVER_URL = "https://ai4sem-mcp-server.azurewebsites.net/mcp/"

# semic
AZURE_OPENAI_API_KEY = ""
AZURE_OPENAI_ENDPOINT = "https://ecdigitb2semic9142630917.openai.azure.com/"

# sharedservice
SHARED_SERVICE_OPENAI_URL = "https://genai-sharedservice-emea.pwc.com"
RAG_CHATBOT_API_KEY = ''
LLM_MODEL = 'azure.gpt-4.1'
EMBEDDING_MODEL = 'azure.text-embedding-ada-002'
